utilities/wunzip/tests/1.out filter=lfs diff=lfs merge=lfs -text
utilities/wgrep/tests/4.in filter=lfs diff=lfs merge=lfs -text
utilities/wgrep/tests/2.out filter=lfs diff=lfs merge=lfs -text
utilities/wgrep/tests/5.out filter=lfs diff=lfs merge=lfs -text
utilities/wunzip/tests/2.out filter=lfs diff=lfs merge=lfs -text
utilities/wcat/tests/3.in filter=lfs diff=lfs merge=lfs -text
utilities/wcat/tests/5.in filter=lfs diff=lfs merge=lfs -text
utilities/wgrep/tests/5.in filter=lfs diff=lfs merge=lfs -text
utilities/wunzip/tests/1.in filter=lfs diff=lfs merge=lfs -text
utilities/wcat/tests/1.out filter=lfs diff=lfs merge=lfs -text
utilities/wunzip/tests/6.out filter=lfs diff=lfs merge=lfs -text
utilities/wunzip/tests/6.in filter=lfs diff=lfs merge=lfs -text
utilities/wcat/tests/4.out filter=lfs diff=lfs merge=lfs -text
utilities/wcat/tests/6.out filter=lfs diff=lfs merge=lfs -text
utilities/wunzip/tests/3.out filter=lfs diff=lfs merge=lfs -text
utilities/wcat/tests/7b.in filter=lfs diff=lfs merge=lfs -text
utilities/wunzip/tests/2.in filter=lfs diff=lfs merge=lfs -text
utilities/wcat/tests/2.out filter=lfs diff=lfs merge=lfs -text
utilities/wgrep/tests/1.out filter=lfs diff=lfs merge=lfs -text
utilities/wgrep/tests/7.out filter=lfs diff=lfs merge=lfs -text
utilities/wunzip/tests/5.out filter=lfs diff=lfs merge=lfs -text
utilities/wzip/tests/2.out filter=lfs diff=lfs merge=lfs -text
utilities/wzip/tests/4.out filter=lfs diff=lfs merge=lfs -text
utilities/wcat/tests/1.in filter=lfs diff=lfs merge=lfs -text
utilities/wcat/tests/7a.in filter=lfs diff=lfs merge=lfs -text
utilities/wgrep/tests/6.in filter=lfs diff=lfs merge=lfs -text
utilities/wunzip/tests/2c.in filter=lfs diff=lfs merge=lfs -text
utilities/wzip/tests/6.in filter=lfs diff=lfs merge=lfs -text
utilities/wunzip/tests/4.out filter=lfs diff=lfs merge=lfs -text
utilities/wzip/tests/1.out filter=lfs diff=lfs merge=lfs -text
utilities/wunzip/tests/4.in filter=lfs diff=lfs merge=lfs -text
utilities/wzip/tests/4.in filter=lfs diff=lfs merge=lfs -text
utilities/wzip/tests/5.in filter=lfs diff=lfs merge=lfs -text
utilities/wcat/tests/3.out filter=lfs diff=lfs merge=lfs -text
utilities/wcat/tests/5.out filter=lfs diff=lfs merge=lfs -text
utilities/wcat/tests/7.out filter=lfs diff=lfs merge=lfs -text
utilities/wgrep/tests/3.out filter=lfs diff=lfs merge=lfs -text
utilities/wgrep/tests/6.out filter=lfs diff=lfs merge=lfs -text
utilities/wzip/tests/3.out filter=lfs diff=lfs merge=lfs -text
utilities/wzip/tests/5.out filter=lfs diff=lfs merge=lfs -text
utilities/wzip/tests/6.out filter=lfs diff=lfs merge=lfs -text
utilities/wunzip/tests/2a.in filter=lfs diff=lfs merge=lfs -text
utilities/wunzip/tests/2b.in filter=lfs diff=lfs merge=lfs -text
utilities/wunzip/tests/5.in filter=lfs diff=lfs merge=lfs -text
utilities/wgrep/tests/4.out filter=lfs diff=lfs merge=lfs -text
utilities/wcat/tests/7d.in filter=lfs diff=lfs merge=lfs -text
utilities/wgrep/tests/1.in filter=lfs diff=lfs merge=lfs -text
utilities/wgrep/tests/7.in filter=lfs diff=lfs merge=lfs -text
utilities/wzip/tests/1.in filter=lfs diff=lfs merge=lfs -text
